@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap);
* {
  font-family: Roboto, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-transform: capitalize;
}


:root {
  --yellow: #fbff00;
  --light-yellow: #000000;
  --white: #f9f9f9;
  --light-color: #edecf7;
  --black: #444;
  --box-shadow: 0 0.6rem 0.9rem rgba(0, 0, 0, 0.2);
  --border: 0.1rem solid #131100;
}

.heading-link {
  text-align: center;
  background-color: var(--light-yellow);
}

.heading-link h3 {
  font-size: 4rem;
  color: white;
}

.heading-link p {
  font-size: 2rem;
  color: var(--light-color);
  line-height: 2;
}

.heading-link p a {
  color: var(--yellow);
}

.heading-link p a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  color: var(--black);
  margin-top: 1rem;
  padding: 1rem 3.5rem;
  font-size: 2rem;
  border: var(--border);
  background-color: yellow;
  cursor: pointer;
  font-weight: 500;
}

.btn:hover {
  background-color: var(--yellow);
  color: black;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: 0 0;
}
html::-webkit-scrollbar-thumb {
  background: var(--yellow);
}
section {
  padding: 5rem 10%;
}
.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  color: var(--black);
}
.header {
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  background-color: var(--white);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
}
.header .logo {
  margin-right: auto;
  max-width: 400px;
  width: 100%;
  height: auto;
}
.header .navbar {
  position: relative;
}
.header .navbar a {
  margin-right: 2rem;
  font-size: 2rem;
  color: var(--black);
}
.header .navbar a:hover {
  color: var(--yellow);
}
.header .icons div {
  cursor: pointer;
  font-size: 2.5rem;
  color: var(--black);
  margin-left: 1.5rem;
}
.header .icons div:hover {
  color: var(--yellow);
}
.header #menu-btn {
  display: none;
}


.account-form {
  position: fixed;
  right: -150%;
  top: 0;
  width: 90rem;
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
  padding: 2rem;
  text-align: center;
  z-index: 1300;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}
.account-form.active {
  right: 0;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}
.account-form #close-form {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 6rem;
  cursor: pointer;
  color: var(--black);
}
.account-form #close-form:hover {
  color: #0b0b0b;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.account-form form {
  border: var(--border);
  padding: 2rem;
  display: none;
}
.account-form form.active {
  display: block;
}
.account-form form h3 {
  font-size: 2.5rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}
.account-form form .box {
  width: 80%;
  padding: 1.2rem 1.4rem;
  border: var(--border);
  font-size: 2rem;
  margin: 0.7rem 0;
}
.account-form form .flex {
  padding: 1.6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}
.account-form form .flex label {
  font-size: 2rem;
  color: var(--light-color);
  cursor: pointer;
}
.account-form form .flex a {
  font-size: 2rem;
  color: var(--light-color);
  margin-left: auto;
}
.account-form form .flex a:hover {
  text-decoration: underline;
  color: var(--yellow);
}
.account-form .buttons .btn {
  margin: 0 0 2rem;
}
.account-form .buttons .btn.active {
  color: #0b0b0b;
  background-color: var(--yellow);
}



.home {
  padding: 0;
}
.home .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60rem;
  background-size: cover !important;
  background-position: center !important;
}
.home .slider .content {
  width: 90rem;
}
.home .slider .content h3 {
  color: var(--white);
  font-size: 5rem;
  text-shadow: #0b0b0b;
}
.home .slider .content p {
  font-size: 3.6rem;
  line-height: 1.9;
  color: var(--white);
  padding: 1rem 0;
  text-shadow: #0b0b0b;
}
.subjects .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}
.subjects .box-container .box {
  padding: 3rem 2rem;
  text-align: center;
  border: var(--border);
  background-color: rgb(83, 83, 83);
}

.subjects .box-container .box img {
  height: 10rem;
  margin-bottom: 0.7rem;
}
.subjects .box-container .box h3 {
  font-size: 1.7rem;
  color:rgb(148, 148, 148);
  padding: 0.5rem 0;
}
.subjects .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: var(--light-color);
}
.home-courses .slide {
  text-align: center;
  position: relative;
  background-color: var(--light-color);
  overflow: hidden;
}
.home-courses .slide:hover .content {
  bottom: 0;
}
.home-courses .slide .image {
  padding: 2rem;
}
.home-courses .slide .image img {
  width: 100%;
  margin-bottom: 1.5rem;
}
.home-courses .slide .image h3 {
  font-size: 2rem;
  color: var(--black);
}
.home-courses .slide .content {
  position: absolute;
  bottom: -100%;
  right: 0;
  left: 0;
  background-color: #afafaf;
  padding: 2rem 3rem;
}
.home-courses .slide .content h3 {
  font-size: 4rem;
  color: rgb(0, 0, 0);
}
.home-courses .slide .content p {
  padding: 1rem 0;
  font-size: 3rem;
  line-height: 2;
  color: black;
  
}
.home-courses .slide .content .btn:hover {
  background-color: yellow;
}

.camp-count{
  display: flex;
  background-color: #fbff00;
  align-content: center;
  font-size: 3rem;
  height: 6%;
  padding: 10rem 6% 10rem 6%;
  justify-content:space-evenly;
  gap:var(--yellow);
  flex:var(--black);
  margin-bottom: 10rem;
}
.camp-count .trained{
  align-items: center;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 3rem;
}
.about .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1rem;
}
.about .image img {
  width: 40%;
}
.about .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
}
.about .content .about-title {
  font-size: 4rem;
  color: var(--black);
}
.about .content p {
  font-size: 2.5rem;
  color: var(--black);
  line-height: 2;
  padding: 1rem 0;
}
.about .content .icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
  margin-top: 1rem;
}
.about .content .icons-container .icons {
  text-align: center;
  border: var(--border);
  background-color: #afafaf;
  padding: 3rem 2rem;
}
.about .content .icons-container .icons img {
  height: 5rem;
  margin-bottom: 0.5rem;
}
.about .content .icons-container .icons h3 {
  padding: 0.5rem 0;
  font-size: 3rem;
  color: #000000;
}
.about .content .icons-container .icons span {
  font-size: 2.5rem;
  line-height: 2;
  color: var(--black);
}
.management .slide {
  text-align: center;
}
.management .slide:hover .image img {
  background-color: var(--yellow);
}
.management .slide:hover .image .share {
  bottom: 0;
}
.management .slide .image {
  position: relative;
  overflow: hidden;
}
.management .slide .image img {
  background-color: var(--light-yellow);
  width: 100%;
}
.management .slide .image .share {
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
}
.management .slide .image .share a {
  font-size: 3rem;
  margin: 0 1rem;
  color: var(--white);
}
.management .slide .image .share a:hover {
  color: var(--yellow);
}
.management .slide .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.management .slide .content h3 {
  font-size: 2rem;
  color: var(--black);
}
.management .slide .content span {
  font-size: 1.5rem;
  line-height: 2;
  color: #444;
}
.reviews .slide {
  text-align: center;
}
.reviews .slide p {
  font-size: 2rem;
  line-height: 2;
  color: #edecf7;
  background-color: var(--light-yellow);
  padding: 2rem;
  margin-bottom: 3rem;
  border: var(--border);
  position: relative;
}
.reviews .slide p:before {
  content: "";
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  background-color: var(--light-yellow);
  border-bottom: 0.1rem solid var(--yellow);
  border-right: 0.1rem solid var(--yellow);
  height: 2rem;
  width: 2rem;
}
.reviews .slide img {
  height: 7rem;
  width: 7rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}
.reviews .slide h3 {
  font-size: 2.2rem;
  color: var(--black);
  padding: 0.5rem 0;
}

.courses .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.courses .box-container .box.hide {
  display: none;
}
.courses .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.courses .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  position: relative;
}
.courses .box-container .box .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.courses .box-container .box .image h3 {
  font-size: 1.5rem;
  color: var(--black);
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: var(--white);
}
.courses .box-container .box .content {
  padding: 2rem;
  text-align: center;
  border: var(--border);
}
.courses .box-container .box .content h3 {
  font-size: 2rem;
  color: var(--black);
}
.courses .box-container .box .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #0b0b0b;
  padding: 1rem 0;
}
.courses .box-container .box .content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: var(--border);
}
.courses .box-container .box .content .icons span {
  font-size: 1.5rem;
  color: var(--black);
}
.courses .box-container .box .content .icons span i {
  color:#000000;
  padding-right: 0.5rem;
}
.courses .load-more {
  margin-top: 2rem;
  text-align: center;
}


.contact .icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  margin-bottom: 3rem;
}
.contact .icons-container .icons {
  text-align: center;
  padding: 3rem 2rem;
  border: var(--border);
  background-color: var(--light-yellow);
}
.contact .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 2rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  color: black;
  background-color: var(--yellow);
}
.contact .icons-container .icons h3 {
  font-size: 2rem;
  color: var(--black);
  padding: 0.5rem 0;
}
.contact .icons-container .icons p {
  font-size: 1.5rem;
  line-height: 2;
  color: var(--light-color);
}
.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
}
.contact .row .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
}
.contact .row .image img {
  width: 100%;
}
.contact .row form {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  border: var(--border);
  padding: 2rem;
}
.contact .row form h3 {
  font-size: 2.5rem;
  color: var(--black);
  padding-bottom: 1rem;
}
.contact .row form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: var(--border);
  font-size: 1.6rem;
  margin: 0.7rem 0;
}
.contact .row form .box:focus {
  background-color: #edecf7;
  color: #000000;
}
.contact .row form textarea {
  height: 15rem;
  resize: none;
}
.faq .accordion-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.faq .accordion-container .accordion {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  border: var(--border);
  background-color: #939393;
}
.faq .accordion-container .accordion.active .accordion-content {
  display: block;
}
.faq .accordion-container .accordion.active .accordion-heading {
  background-color: #000000;
}
.faq .accordion-container .accordion.active .accordion-heading h3 {
  color: var(--white);
}
.faq .accordion-container .accordion.active .accordion-heading i {
  color: #000000;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.faq .accordion-container .accordion .accordion-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 1.5rem;
}
.faq .accordion-container .accordion .accordion-heading h3 {
  font-size: 2rem;
  color: #0b0b0b;
}
.faq .accordion-container .accordion .accordion-heading i {
  font-size: 2rem;
  color: var(--yellow);
}
.faq .accordion-container .accordion .accordion-content {
  padding: 1.5rem;
  font-size: 1.5rem;
  line-height: 2;
  color: var(--light-color);
  border-top: var(--border);
  display: none;
}
.logo-container {
  text-align: center;
}
.logo-container img {
  height: 8rem;
  pointer-events: none;
}

.footer {
  background-color: var(--light-yellow);
  padding-bottom: 10rem;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: var(--black);
  padding: 1rem 0;
}
.footer .box-container .box .share {
  margin-top: 1rem;
}
.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  color: var(--white);
  background-color: var(--yellow);
  text-align: center;
  margin-right: 0.3rem;
}
.footer .box-container .box .share a:hover {
  background-color: var(--black);
}
.footer .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: var(--light-color);
  padding: 1rem 0;
}
.footer .box-container .box .link {
  font-size: 1.7rem;
  line-height: 2;
  color: var(--light-color);
  padding: 0.5rem 0;
  display: block;
}
.footer .box-container .box .link:hover {
  color: var(--yellow);
  text-decoration: underline;
}
.footer .box-container .box .email {
  width: 95%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  border: 0.1rem solid var(--yellow);
  margin-bottom: 1rem;
}
.footer .credit {
  text-align: center;
  font-size: 2rem;
  padding-top: 3rem;
  margin-top: 3rem;
  color: var(--black);
  border-top: 0.1rem solid var(--yellow);
}
.footer .credit span {
  color: var(--yellow);
}


@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    right: 0;
    left: 0;
    background-color: var(--white);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    margin: 2rem;
    font: 3rem;
    text-align: center;
    display: block;
  }
  .home .slider .content h3 {
    font-size: 3rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .btn {
    font-size: 2rem;
    padding: 1.5rem 2rem;
  }
}

@media (min-width: 1920px) {
    .heading-link h3 {
      font-size: 5rem;
    }
    .heading-link p {
      font-size: 2.5rem;
    }
    .btn {
      font-size: rem;
      padding: 1.5rem 4rem;
    }
    .header {
      padding: 3rem 10%;
    }
    .header .logo {
      font-size: 3rem;
    }
    .header .navbar a {
      font-size: 2.5rem;
    }
    section {
      padding: 6rem 15%;
    }
    .heading {
      font-size: 5rem;
    }
    .home .slider {
      height: 100rem;
    }
    .home .slider .content h3 {
      font-size: 8rem;
    }
    .home .slider .content p {
      font-size: 3rem;
    }
    .subjects .box-container .box h3 {
      font-size: 3rem;
    }
    .subjects .box-container .box p {
      font-size: 3.8rem;
    }
    .about .content .about-title {
      font-size: 4.5rem;
    }
    .about .content p {
      font-size: 2.8rem;
    }
    .contact .row form h3 {
      font-size: 3rem;
    }
    .contact .row form .box {
      font-size: 3.8rem;
    }
    .footer .box-container .box h3 {
      font-size: 3.5rem;
    }
    .footer .box-container .box p,
    .footer .box-container .box .link {
      font-size: 2.8rem;
    }
  }
  